* {
	border: 1px dashed rgba(0, 0, 0, .15);
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header .links {
	display: flex;
	gap: 16px;
	list-style: none;
}